@charset "UTF-8";

.jumbotron {
	background: url("volunteer.png") no-repeat center center;
	background-size: cover;
	height: 100%;
	width: auto;
}

.display-4 {
	font-size: 5em !important;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px
		rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.motto {
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px
		rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container {
	padding-left: 0;
}

.card-deck {
	padding: 20px;
}

.btn-green {
	color: #fff !important;
	background-color: #b6c86f !important;
	border-color: #b6c86f !important;
}
.btn-blue {
	color: #fff !important;
	background-color: #6dbddb !important;
	border-color: #6dbddb !important;
}

.btn-brown {
	color: #fff !important;
	background-color: #d2a880 !important;
	border-color: #d2a880 !important;
}

.btn-green:hover {
	color: #fff !important;
	background-color: #9fb355 !important;
	border-color: #9fb355 !important;
}
.btn-blue:hover {
	color: #fff !important;
	background-color: #5ba9c8 !important;
	border-color: #5ba9c8 !important;
}

.btn-brown:hover {
	color: #fff !important;
	background-color: #be9371 !important;
	border-color: #be9371 !important;
}


.map-container{
overflow:hidden;
padding-bottom:20%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.card-pad {
	padding: 20px 100px;
}

.nav-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.avatar {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


}